@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Work+Sans:wght@300;400;500;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 240px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}
nav-logo-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}
.gamer-g {
  color: #f948b2;
}
.nav-title {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-title a {
  text-decoration: none;
}
.nav-title-a1 {
  color: #3c354f;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.nav-title-icon {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-title-icon-a1 {
  color: #3c354f;
  font-family: Work Sans;
  font-size: 18px;

  font-weight: 500;
}
/* complete nav part */
.banner-container {
  display: flex;
  align-items: center;
}
.banner-text-img {
  width: 50%;
  height: 100%;
  background-image: url("./images/Group 14.png");
  background-size: cover;
}
.banner-text {
  padding: 148px 306px 148px 240px;
}
.banner-play {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-text > p {
  color: #534c64;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
.btn-primary-1 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 21px 40px;
  margin-top: 30px;
}
.btn-primary-2 {
  border-radius: 48px;
  background-color: #4ec5f7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 21px 40px;
  margin-top: 30px;
}
.banner-img {
  width: 50%;
}
/* banner part end */

.online-container {
  margin: 120px auto 0;
  text-align: center;
}
.online-text {
  color: #0b0223;
  font-size: 48px;
  margin-bottom: 20px;
}
.online-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-description {
  color: #534c64;
  font-size: 18px;
}
/* online end */
